body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Stile für die Bar */
.navbar {
  position: relative;
  top: 70px; /* Initialer Abstand vom oberen Rand */
  left: 0;
  width: 100%;
  background-color: #381D54; /* Hintergrundfarbe */
  color: white;
  padding: 10px 20px; /* Padding bestimmt die Höhe */
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px; /* Feste Höhe der Bar im Ausgangsszustand */
  transition: background-color 0.3s, height 0.3s; /* Übergänge für die Änderung der Hintergrundfarbe und Höhe */
}

/* Logo */
.logo {
  height: 135px; /* Ausgangsgröße des Logos */
  width: auto;
  margin-left: -10px; /* Platzierung des Logos */
  transition: height 0.3s; /* Übergang für die Änderung der Größe */
}

/* Der Text bleibt rechts vom Bild */
.title {
  font-size: 35px;
  margin-left: 10px; /* Abstand zwischen Bild und Text */
  font-weight: bold; /* Macht die Überschrift fett */
  transition: font-size 0.3s; /* Übergang für die Schriftgröße */
}


/* Dummy-Inhalt für Scrollen */
.content {
  margin-top: 200px;
  padding: 20px;
  height: 2000px;
}

/* Wenn die Bar fixiert ist */
.sticky {
  background-color: #381D54; /* Neue Hintergrundfarbe, wenn die Bar oben fixiert ist */
  height: 60px; /* Reduziere die Höhe der Bar */
}

.sticky .logo {
  height: 80px; /* Kleineres Logo, wenn die Bar fixiert ist */
}


.sticky .title {
  font-size: 33px; /* Reduziere die Schriftgröße beim Scrollen */
}


/* Breiter Balken */
.wide-bar {
  top: 140px; /* Initialer Abstand vom oberen Rand */
  width: 100%;
  height: 200px; /* Höhe des Balkens */
  background-image: url('../img/Balken.png'); /* Pfad zu deinem Hintergrundbild */
  background-size: cover; /* Hintergrundbild füllt den Balken */
  background-position: center; /* Bild ist zentriert */
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
  position: relative; /* Statisch unter der Bar */
  z-index: 900; /* Bleibt hinter der Navbar */
}

/* Text im breiten Balken */
.bar-text {
  font-size: 50px;
  color: white;
  font-weight: bold;
  margin-left: 40px;
}

/* Abschnitt mit Überschrift, Bild und Text */
.section {
  margin-top: 200px;
  margin-left: 50px;
  margin-bottom: 20px; /* Abstand unter dem Abschnitt */
}

.content-container {
  display: flex; /* Aktiviert Flexbox */
  align-items: flex-start; /* Vertikale Ausrichtung */
}

.text-content {
  flex: 1; /* Nimmt den verfügbaren Platz ein */
  margin-right: 20px; /* Abstand zwischen Text und Bild */
}

.foden {
  height: 400px;
  width: auto;
  margin-left: 20px; /* Abstand zum linken Nachbarelement (Text) */
  margin-top: 10px; /* Abstand zum oberen Element (z.B. Beschreibung) */
}
